= form_with(model: @user, local: true, url: user_registration_path) do |f|
  .user-registration__page
    .header
      = render "shared/logo"
    .user-page__main
      .user-page__main__top
        会員情報登録
      .user-page__main__input
        .user-page__main__input__title
          ニックネーム
          %span.require 必須
        = f.text_field :nickname, class: "nickname", placeholder: " 例） フリマ太郎"
        .user-page__main__input__title
          メールアドレス
          %span.require 必須
        = f.email_field :email, class: "email", placeholder: " PC・携帯どちらでも可"
        .user-page__main__input__title
          パスワード
          %span.require 必須
        = f.password_field :password, class: "password", placeholder: " 半角英字数字両方を含む7文字以上"
        .user-page__main__input__title
          パスワード（確認）
          %span.require 必須
        = f.password_field :password_confirmation, class: "password_confirmation", placeholder: " 確認のためもう1度入力して下さい"
        .comment
          本人確認
          %h3 安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
        .user-page__main__input__title
          お名前（全角）
          %span.require 必須
          .name
            = f.text_field :family_name, class: "family_name", placeholder: " 例） 山田"
            = f.text_field :first_name, class: "first_name", placeholder: " 例） 太郎"
        .user-page__main__input__title
          お名前カナ（全角）
          %span.require 必須
          .name_kana
            = f.text_field :family_name_kana, class: "family_name_kana", placeholder: " 例） ヤマダ"
            = f.text_field :first_name_kana, class: "first_name_kana", placeholder: " 例） タロウ"
        .user-page__main__input__title
          生年月日
          %span.require 必須
          .birth
            - year = ["--"]
            - for i in 0..120
              - year << 2020 - i
            = f.select :birth_year, year, {}, class: "birth_year"
            %span 年
            - month = ["--"]
            - for i in 1..12
              - month << i
            = f.select :birth_month, month, {}, class: "birth_month"
            %span 月
            - day = ["--"]
            - for i in 1..31
              - day << i
            = f.select :birth_day, day, {}, class: "birth_day"
            %span 日
        .link-block
          = f.submit "次へ進む", class: "next_btn"
    = render "shared/user_footer"