.side-bar
  .side-bar__navi
    .side-bar__navi__list
      = link_to "マイページ", "#",class: "side-bar__navi__list__menu"
      = link_to "お知らせ", "#", class: "side-bar__navi__list__menu"
      = link_to "やることリスト", "#", class: "side-bar__navi__list__menu"
    %h4.side-bar__navi__title
      クレジットカード
    .side-bar__navi__list
      = link_to "クレジットカード登録", "#", class: "side-bar__navi__list__menu"
      = link_to "クレジットカード情報変更", "#", class: "side-bar__navi__list__menu"
    %h4.side-bar__navi__title
      設定
    .side-bar__navi__list
      = link_to "ログアウト", user_logout_users_path, class: "side-bar__navi__list__menu"