.user-registration__page
  .header
    = render "shared/logo"
  .user-page__main
    .user-page__main__top
      会員情報登録
    .user-page__main__input
      .user-page__main__input__title
        ニックネーム
        %span.require 必須
      %input.nickname{ type: "text", name: "nickname", placeholder: " 例） フリマ太郎"}
      .user-page__main__input__title
        メールアドレス
        %span.require 必須
      %input.email{ type: "email", name: "email", placeholder: " PC・携帯どちらでも可"}
      .user-page__main__input__title
        パスワード
        %span.require 必須
      %input.email{ type: "password", name: "password", placeholder: " 英字数字両方を含む7文字以上"}
      .user-page__main__input__title
        パスワード（確認）
        %span.require 必須
      %input.email{ type: "password", name: "password", placeholder: " 確認のためもう1度入力してください"}
      .comment
        本人確認
        %h3 安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
      .user-page__main__input__title
        お名前（全角）
        %span.require 必須
        .name
          %input.family_name{ type: "text", name: "family_name", placeholder: " 例） 山田"}
          %input.first_name{ type: "text", name: "first_name", placeholder: " 例） 太郎"}
      .user-page__main__input__title
        お名前（全角カナ）
        %span.require 必須
        .name_kana
          %input.family_name_kana{ type: "text", name: "family_name_kana", placeholder: " 例） ヤマダ"}
          %input.first_name_kana{ type: "text", name: "first_name_kana", placeholder: " 例） タロウ"}
      .user-page__main__input__title
        生年月日
        %span.require 必須
        .birth
          %select.birth_year{name: "birth_year"}
            %option --
            - 2020.downto(1900) do |i|
              %option #{i}
          %span 年
          %select.birth_month{name: "birth_month"}
            %option --
            - for i in 1..12
              %option #{i}
          %span 月
          %select.birth_day{name: "birth_day"}
            %option --
            - for i in 1..31
              %option #{i}
          %span 日
      .link-block
        = link_to new_address_users_path do
          %input.next-btn{ type: "submit", value: "次に進む"}
  = render "shared/footer"