#request{action: request.path}
= form_for @item do |f|
  = render 'layouts/error_messages', model: f.object 
  .new-wrapper__main
    .new-wrapper__main__title
      出品画像
      %span{class: "require"} 必須
    .new-wrapper__main__text
      最大10枚までアップロードできます
    .new-wrapper__main__image-box
      - if @item.persisted?
        - if @item.images.length < 5
          .previews
            - @item.images.each_with_index do |image, i|
              .previews__image
                = image_tag image.image.url, data: {index: i}, width: "120", height: "120", class: "previews__image__src"
                .remove-btn 削除
          %label{class: "new-wrapper__main__image-box__image-label", id: "image-label"}
            .new-wrapper__main__image-box__image-label__image-field
              = icon( 'fa', 'camera')
              .new-wrapper__main__imagde-box__image-label__image-field__text
                ドラッグアンドドロップ
                %br
                またはクリックしてファイルをアップロード
            = f.fields_for :images do |i|
              .js-file_group{data: {index: i.index}}
                = i.file_field :image, class: "js-file"
              - if @item.persisted?
                = i.check_box :_destroy, data:{ index: i.index }, class: 'hidden-destroy'
            - if @item.persisted?
              .js-file_group{data: {index: @item.images.count}}
                = file_field_tag :image, name: "item[images_attributes][#{@item.images.count}][image]", class: "js-file"
        - else
          .preview-first
            - @item.images[0..4].each_with_index do |image, i|
              .previews__image
                = image_tag image.image.url, data: {index: i}, width: "120", height: "120", class: "previews__image__src"
                .remove-btn 削除
          .previews
            - @item.images[5..9].each.with_index(5) do |image, i|
              .previews__image
                = image_tag image.image.url, data: {index: i}, width: "120", height: "120", class: "previews__image__src"
                .remove-btn 削除
          %label{class: "new-wrapper__main__image-box__image-label", id: "image-label"}
            .new-wrapper__main__image-box__image-label__image-field{ style: "display: none"}
              = icon( 'fa', 'camera')
              .new-wrapper__main__imagde-box__image-label__image-field__text
                ドラッグアンドドロップ
                %br
                またはクリックしてファイルをアップロード
            - if 5 <= @item.images.length && @item.images.length < 10
              .new-wrapper__main__image-box__image-label__image-field{ id: "image-field-second"}
                = icon( 'fa', 'camera')
                .new-wrapper__main__imagde-box__image-label__image-field__text
                  ドラッグアンドドロップ
                  %br
                  またはクリックしてファイルをアップロード
            - else
              .new-wrapper__main__image-box__image-label__image-field{ id: "image-field-second", style: "display: none;"}
                = icon( 'fa', 'camera')
                .new-wrapper__main__imagde-box__image-label__image-field__text
                  ドラッグアンドドロップ
                  %br
                  またはクリックしてファイルをアップロード
            = f.fields_for :images do |i|
              .js-file_group{data: {index: i.index}}
                = i.file_field :image, class: "js-file"
              - if @item.persisted?
                = i.check_box :_destroy, data:{ index: i.index }, class: 'hidden-destroy'
            - if @item.persisted?
              .js-file_group{data: {index: @item.images.count}}
                = file_field_tag :image, name: "item[images_attributes][#{@item.images.count}][image]", class: "js-file"
      - else
        .previews
        %label{class: "new-wrapper__main__image-box__image-label", id: "image-label"}
          .new-wrapper__main__image-box__image-label__image-field
            = icon( 'fa', 'camera')
            .new-wrapper__main__imagde-box__image-label__image-field__text
              ドラッグアンドドロップ
              %br
              またはクリックしてファイルをアップロード
          = f.fields_for :images do |i|
            .js-file_group{data: {index: i.index}}
              = i.file_field :image, class: "js-file"
            - if @item.persisted?
              = i.check_box :_destroy, data:{ index: i.index }, class: 'hidden-destroy'
          - if @item.persisted?
            .js-file_group{data: {index: @item.images.count}}
              = file_field_tag :image, name: "item[images_attributes][#{@item.images.count}][image]", class: "js-file"
  .new-wrapper__main
    .new-wrapper__main__title
      商品名
      %span{class: "require"} 必須
    = f.text_field :name, class: "new-wrapper__main__input-text", placeholder: "40文字まで"
    .new-wrapper__main__title.spacing
      商品の説明
      %span{class: "require"} 必須
    = f.text_area :introduction, class: "new-wrapper__main__input-textarea", placeholder: "商品の説明(必須 1,000文字以内)\n（色、素材、重さ、定価、注意点など）\n\n例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"
  .new-wrapper__main
    .new-wrapper__main__subtitle
      商品の詳細
    .new-wrapper__main__title
      カテゴリー
      %span{class: "require"} 必須

    - if @item.category.present?
      #category-preview
        = f.select :category, options_for_select( @category_parent_array.map{|c|[c[:name], c[:id], {}]}, @item.category.parent.parent.id), {}, {class: 'new-wrapper__main__input-select select-parent', id: 'select-parent', style: 'margin-bottom: 10px;'}
        = f.select :category, options_for_select( @category_children_array.map{|c|[c[:name], c[:id], {}]}, @item.category.parent.id), {}, {class: 'new-wrapper__main__input-select select-child', id: 'select-parent', style: 'margin-bottom: 10px;'}
        = f.select :category, options_for_select( @category_grandchildren_array.map{|c|[c[:name], c[:id], {}]}, @item.category.id), {}, {class: 'new-wrapper__main__input-select select-grandchild', id: 'item_category_id'}
    - else
      #category-select
    .new-wrapper__main__title
      サイズ
      %span{class: "any"} 任意
    = f.select :size, Item.sizes_i18n.invert {}, prompt: "選択してください"
    .new-wrapper__main__title.spacing
      ブランド
      %span{class: "any"} 任意
    = f.select :brand, Item.brands_i18n.invert {}, prompt: "選択してください"
  .new-wrapper__main
    .new-wrapper__main__title.spacing
      商品の状態
      %span{class: "require"} 必須
    = f.select :condition, Item.conditions_i18n.invert {}, prompt: "選択してください"
  .new-wrapper__main
    .new-wrapper__main__subtitle
      配送について
    .new-wrapper__main__title
      配送料の負担
      %span{class: "require"} 必須
    = f.select :postage, Item.postages_i18n.invert {}, prompt: "選択してください"
    .new-wrapper__main__title.spacing
      発送元の地域
      %span{class: "require"} 必須
    = f.collection_select :area_id, Area.all, :id, :name, prompt: "選択してください"
    .new-wrapper__main__title.spacing
      発送までの日数
      %span{class: "require"} 必須
    = f.select :preparation_day, Item.preparation_days_i18n.invert {}, prompt: "選択してください"
  .new-wrapper__main
    .new-wrapper__main__subtitle
      価格（¥300〜9,999,999）
    .new-wrapper__main__title.float-left
      販売価格
      %span{class: "require"} 必須
    .new-wrapper__main__input-price.float-right
      ¥
      = f.number_field :price, class: "new-wrapper__main__input-price__input", placeholder: "0"
    .spacing
      - if user_signed_in?
        = f.submit class:"new-wrapper__main__submit"
      - else
        = link_to "投稿する", new_user_session_path, class: "new-wrapper__main__submit"
    .new-wrapper__main__caution
      禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。