.header
  .header__top
    = render "shared/logo"

%main.check-buy
  %section.check-buy__content
    %h2.check-buy__content__title
      購入内容の確認
    %section.check-buy__content__item
      .check-buy__content__item__inner
        .check-buy__content__item__inner__box
          %h3.check-buy__content__item__inner__box__image
            = image_tag @item.images.first.image.url, class: "image-main"
          .check-buy__content__item__inner__box__detail
            %p.check-buy__content__item__inner__box__detail__name
              = @item.name
            %p.check-buy__content__item__inner__box__detail__price
              = "¥#{@item.price.to_s(:delimited)} (税込)"

    %section.check-buy__content__item
      .check-buy__content__item__inner
        %form.check-buy__content__item__inner__form
          %ul.check-buy__content__item__inner__form__price
            %li.check-buy__content__item__inner__form__price__box
              .check-buy__content__item__inner__form__price__box__head
                支払い金額
              .check-buy__content__item__inner__form__price__box__body
                

          %section.check-buy__content__item__inner__form__payment
            .check-buy__content__item__inner__form__payment__inner
              %h3.check-buy__content__item__inner__form__payment__box__title
                支払い方法
              - if @default_card_information.blank?
                %br /
              - else
                %p.check-buy__content__item__inner__form__payment__box__title__under
                  = "**** **** **** " + @default_card_information.last4
                  %br
                    - exp_month = @default_card_information.exp_month.to_s
                    - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
                    = exp_month + " / " + exp_year
              .card_box
                = image_tag "https://www-mercari-jp.akamaized.net/assets/img/card/visa.svg?465897195", size: "49×15", alt: "visa_pic", class: "visa_area"
            .change_text_color_blue
              = link_to "変更する", class: ""
              -# = fa_icon 'chevron-right'

          %section.check-buy__content__item__inner__form__delivery
            .check-buy__content__item__inner__form__delivery__inner
              %h3.check-buy__content__item__inner__form__delivery__box__title
                配送先
              = link_to "#" do
                %p.check-buy__content__item__inner__form__delivery__box__title__under


          %section.check-buy__content__item__inner__form__fix
            %button.check-buy__content__item__inner__form__fix__btn{type: "submit"}
              = form_tag(action: :pay, method: :post) do
                購入する

= render partial: "shared/user_footer"