= render partial: "shared/header"
.main
  .main__showMain
    .main__contentLeftqq
    .main__showMain__contentRight
      .main__showMain__contentRight__topContent
        .main__showMain__contentRight__topContent__itemBox
        %h1.main__showMain__contentRight__topContent__itemBox__name
          = @item.name
        .main__showMain__contentRight__topContent__itemBox__itemInfo__body
          %ul.main__showMain__contentRight__topContent__itemBox__itemInfo__body--main-image
            %li
              = image_tag @item.images.first.image.url, class: "image-main"
          %ul.main__showMain__contentRight__topContent__itemBox__itemInfo__body--sub-image
            - @item.images.each do |f|
              %li
                = image_tag f.image.url,class: "image_sub"
        .main__showMain__contentRight__topContent__itemBox__itemInfo__price
          %span
            ¥
            = @item.price
          .main__showMain__contentRight__topContent__itemBox__itemInfo__price__itemBox__price-detail
            %span
              (税込）
            %span
              送料込み
        .main__showMain__contentRight__topContent__itemBox__itemDetail
          =  @item.introduction
        .main__showMain__contentRight__topContent__itemBox__table
          %table
            %tbody
              %tr
                %th 出品者
                %td hoge
              %tr
                %th カテゴリー
                %td 
                  =link_to '#' do
                    レディース
                  %br/
                  =link_to '#' do
                    トップス
                  %br/
                  =link_to '#' do
                    Tシャツ/カットソー(半袖/袖なし)
              %tr 
                %th ブランド
                %td
                  - if @item.brand.present?
                    = @item.brand_i18n
              %tr
                %th 商品のサイズ
                %td
                  - if @item.size.present?
                    = @item.size_i18n
              %tr
                %th 商品の状態
                %td
                  = @item.condition_i18n
              %tr
                %th 配送料の負担
                %td
                  = @item.postage_i18n
              %tr 
                %th 発送元の地域
                %td 
                  = link_to @item.area.name
              %tr 

                %th 発送日の目安
                %td
                  = @item.preparation_day_i18n
            -# 出品者にしか商品の情報編集・削除のリンクが踏めないようになっている
      -# - if user_signed_in? && current_user.id == item.user_id
        .main__showMain__contentRight__topContent__itemBox__inklist
          = link_to confirm_items_path(@item) do
            .main__showMain__contentRight__topContent__itemBox__linklist__buy 商品を購入
      - else
        .main__showMain__contentRight__topContent__itemBox__linklist
          = link_to edit_item_path(@item) do
            .main__showMain__contentRight__topContent__itemBox__linklist__edit 商品の編集
          = link_to item_path(@item.id), method: :delete do
            .main__showMain__contentRight__topContent__itemBox__linklist__delete この商品を削除する

        .main__showMain__contentRight__topContent__itemBox__optionalArea
          %ul
            %li.main__showMain__contentRight__topContent__itemBox__optionalArea__likeBtn
              %i.fa.fa-star
              お気に入り 0
          %ul.main__showMain__contentRight__topContent__itemBox__optionalArea__optional
            %li.main__showMain__contentRight__topContent__itemBox__optionalArea__optional__optionalBtn
              =link_to  '#' do
                %i.fas.fa-flag
                不適切な商品の通報
        .main__showMain__contentRight__topContent__commentBox
          %ul.main__showMain__contentRight__topContent__commentBox__commentContents
          %form#new_comment.new_comment{"accept-charset": "UTF-8", action: "#", method: "post"}
            %input{name: "utf8", type: "hidden", value: "✓"}/
            %input{name: "authenticity_token", type: "hidden", value: "gyvWrYv/zM4S5LsgDn3L8BuUZAQ1lpewtQWNPCu+HPL3KHSTLkZTWoGbARzyVOYgdUDUcN53biKkBNXxiuCCbQ=="}/
            %textarea#comment_body{name: "comment[body]", required: "required"}
            %p.main__showMain__contentRight__topContent__commentBox__commentContents__noticeMsg
              相手のことを考え丁寧なコメントを心がけましょう。
              %br/
              不快な言葉遣い等は退会処分となる事があります。
            %button.main__showMain__contentRight__topContent__commentBox__commentContents__commentBtn{name: "button", typ: "submit"}
              %i.fa.fa-comment 
              コメントする
          %ul.main__showMain__contentRight__links
            %li 
              =link_to  '#' do
                %i.fa.fa-angle-left
                %span
                  前の商品 
            %li
              =link_to  '#' do
                %span
                  後ろの商品
                  %i.fa.fa-angle-right
        .main__showMain__contentRight__relatedItems
          =link_to  '#' do
            レディースをもっと見る
= render partial: "shared/footer"
