= render partial: "shared/header"
.main
  .main__showMain
  .main__contentLeftqq
    .main__showMain__contentRight
      .main__showMain__contentRight__topContent
        .main__showMain__contentRight__topContent__itemBox
        %h1.main__showMain__contentRight__topContent__itemBox__name product1
        .main__showMain__contentRight__topContent__itemBox__itemInfo__body
          %ul.main__showMain__contentRight__topContent__itemBox__itemInfo__body--main-image
            %li 
              =image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/7/a001.png", size:"560*346"
          %ul.main__showMain__contentRight__topContent__itemBox__itemInfo__body--sub-image
            %li
              =image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/7/a001.png", size: "140*87"
            %li
              =image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/8/a002.png", size: "140*87"
            %li
              =image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/9/a003.png", size: "140*87"
        .main__showMain__contentRight__topContent__itemBox__itemInfo__price
          %span
            ¥10000
          .main__showMain__contentRight__topContent__itemBox__itemInfo__price__itemBox__price-detail
            %span
              (税込）
            %span
              送料込み
        .main__showMain__contentRight__topContent__itemBox__itemDetail"親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から首を出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降りる事は出来まい。弱虫やーい。と囃したからである。小使に負ぶさって帰って来た時、おやじが大きな眼をして二階ぐらいから飛び降りて腰"
        .main__showMain__contentRight__topContent__itemBox__table
          %table
            %tbody
              %tr
                %th 出品者
                %td hoge
              %tr
                %th カテゴリー
                %td
                  =link_to '#' do
                    = @item.category.parent.parent.name
                  %br/
                  =link_to '#' do
                    = @item.category.parent.name
                  %br/
                  =link_to '#' do
                    = @item.category.name
              %tr
                %th ブランド
                %td
              %tr
                %th 商品のサイズ
                %td
              %tr
                %th 商品の状態
                %td 未使用に近い
              %tr
                %th 配送料の負担
                %td 送料込み(出品者負担)
              %tr 
                %th 発送元の地域
                %td 
                  =link_to '#' do
                    青森県
              %tr 
                %th 発送日の目安
                %td 1-2日で発送
        .main__showMain__contentRight__topContent__itemBox__optionalArea
          %ul
            %li.main__showMain__contentRight__topContent__itemBox__optionalArea__likeBtn
              %i.fa.fa-star
              お気に入り 0
          %ul.main__showMain__contentRight__topContent__itemBox__optionalArea__optional
            %li.main__showMain__contentRight__topContent__itemBox__optionalArea__optional__optionalBtn
              =link_to  '#' do
                %i.fas.fa-flag
                不適切な商品の通報
        .main__showMain__contentRight__topContent__commentBox
          %ul.main__showMain__contentRight__topContent__commentBox__commentContents
          %form#new_comment.new_comment{"accept-charset": "UTF-8", action: "#", method: "post"}
            %input{name: "utf8", type: "hidden", value: "✓"}/
            %input{name: "authenticity_token", type: "hidden", value: "gyvWrYv/zM4S5LsgDn3L8BuUZAQ1lpewtQWNPCu+HPL3KHSTLkZTWoGbARzyVOYgdUDUcN53biKkBNXxiuCCbQ=="}/
            %textarea#comment_body{name: "comment[body]", required: "required"}
            %p.main__showMain__contentRight__topContent__commentBox__commentContents__noticeMsg
              相手のことを考え丁寧なコメントを心がけましょう。
              %br/
              不快な言葉遣い等は退会処分となる事があります。
            %button.main__showMain__contentRight__topContent__commentBox__commentContents__commentBtn{name: "button", typ: "submit"}
              %i.fa.fa-comment 
              コメントする
          %ul.main__showMain__contentRight__links
            %li 
              =link_to  '#' do
                %i.fa.fa-angle-left
                %span
                  前の商品 
            %li
              =link_to  '#' do
                %span
                  後ろの商品
                  %i.fa.fa-angle-right
        .main__showMain__contentRight__relatedItems
          =link_to  '#' do
            レディースをもっと見る
= render partial: "shared/footer"